<script>
  function hamburgerMenu() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }

  function alertSignup() {
  alert("In production, add SIGN UP routes");
}

  </script>


<div class="topnav" id="myTopnav">
  <a href="/" class="active">WIKI MAPS</a>
  <a href="/">See All Maps</a>
  <%if (!userid) {%>
    <a href="/users/login">Create a New Map</a>
    <%} else {%>
      <a href="/maps/new">Create a New Map</a>
      <a href="/users/profile/<%= userid %>">Logged in as: <%= userid %></a>
      <%}%>

  <%if (!userid) {%>
  <a href="/users/login">Login</a>
  <button onclick="alertSignup()">Sign Up</button>

  <%} else {%>

  <form method="POST" action="/users/logout">
    <button type="submit">Logout</button>
  </form>

    <%}%>
  <a href="javascript:void(0);" class="icon" onclick="hamburgerMenu()">
    <i class="fa fa-bars"></i>
  </a>
</div>
