body {

  min-height: 100vh;
}

#map {
  height: 100%;
}

nav {
  background-color: aquamarine;
  height: 10vw;
}

header {
  background-color: blue;

}

main {
  background-color: rgb(245, 232, 208);
  height: 18vh;
  width: 90vw;
}
