body {

  min-height: 90vh;

}

#map {
  height: 100%;
  margin-right: 3vw;
  margin-left: 3vw;
}

nav {
  background-color: aquamarine;
  height: 10vw;
}

header {
  background-color: blue;

}

main {
  height: 50vh;
}
